@font-face {
    font-family: 'CooperFiveOpti-Black';
    src: url('./fonts/CooperFiveOpti-Black.otf') format('opentype');
    /* You may need to specify other formats like 'truetype' or 'woff' for compatibility */
    font-weight: normal;
    font-style: normal;
  }
  